html {
    height: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    padding: 1 rem 1 rem 2 rem 1 rem;
}

.hide {
    display: none;
}

#flash {
  background-color: orange;
}

#main {
  overflow-x: scroll;
  overflow-y: scroll;
  height: 3000px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.md-6 {
  width: 50%;
}

#home-image {
  height: 200px;
  width: 350px;
}

#home-image-2 {
  height: 200px;
  width: 350px;
}

.portion-home {
  height: 15%;
  padding: 2em;
  border: 1px solid rgb(145, 109, 12);
  scroll-snap-align: start;
}

.portion-add-song {
  height: 20%;
  padding: 2em;
  border: 1px solid rgb(145, 109, 12);
  scroll-snap-align: start;
}

.portion-genres {
  height: auto;
  padding: 2em;
  border: 1px solid rgb(145, 109, 12);
  scroll-snap-align: start;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
  
footer p {
  margin-bottom: .25rem;
}

footer.fixed-bottom, .push {
  height: 43px;
}