html {
    background: linear-gradient(200deg, rgb(245, 115, 28), rgb(233, 203, 72));
    background-attachment: fixed;
    height: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    padding: 1 rem 1 rem 2 rem 1 rem;
}

.hide {
    display: none;
}

#flash {
  background-color: orange;
}

#main {
  overflow-x: scroll;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  height: 3000px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.md-6 {
  width: 50%;
}

#home-image {
  height: 200px;
  width: 350px;
  /* margin: 3% 1%; */
}

#home-image-2 {
  height: 200px;
  width: 350px;
  /* margin: 3% 1%; */
}

.portion {
  height: 15%;
  padding: 2em;
  border: 1px solid rgb(145, 109, 12);
  scroll-snap-align: start;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
  
footer p {
  margin-bottom: .25rem;
}